@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1530px;
    font-family: "Manrope", sans-serif;
    background: #e4e3e3;
}

.vertical-timeline-element-content {
    color: white;
    background: #14452F !important;
}



html.dark body {
    background: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
}

th,
td {
    padding: 15px;
}